@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/***********************/
/* Global components */
/***********************/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font: 62.5%;
}

/***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/* colors:
#bcf497 #94e19b  #1c8324 #25a20f #01572c #0d3f11 
#f0f0f0 #fff 
#101c34
 #333
 */
/***********************/
/* Welcome components */
/***********************/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  font-family: 'Roboto', sans-serif;
}

.main__heading {
  color: #1c8324;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 1rem;
  padding-top: 10rem;
}

.main__body {
  font-size: 1.4rem;
  text-align: center;
  margin: 1rem 1.6rem;
  line-height: 1.6rem;
}

.btn {
  border: none;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  background-color: #1c8324;
  color: #fff;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0d3f11;
}

/***********************/
/* Footer components */
/***********************/

.footer__text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 4rem;
}
/***********************/
/* Nav components */
/***********************/

nav {
  padding: 2rem 3rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
}

.nav__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

.sign-out {
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: #1c8324;
  color: #fff;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-out:hover {
  background-color: #0d3f11;
}

/***********************/
/* chatroom components */
/***********************/

.chat__room {
  display: flex;

  background-color: #f0f0f0;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  height: 80vh;
  margin: 0 auto;

  border-radius: 5px;

  border: 2px solid #25a20f;
  position: relative;
}
.header {
  background-color: #25a20f;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  overflow-y: auto;
  padding: 10px;
}

.message__form {
  display: flex;
  width: 100%;
  padding: 10px;
}

.message__input {
  flex: 1;
  border: 3px solid #25a20f;
  outline: none;
  background: #fff;
  font-size: 16px;
  color: #333;
  padding: 20px;
  resize: vertical;
  height: auto;
  border-radius: 5px 0 0 5px;
}

.btn__send {
  border: none;
  outline: none;
  background: #1c8324;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1rem 1rem;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s;
}

.btn__send:hover {
  background-color: #0d3f11;
}

/***********************/
/* message components */
/***********************/

.chat__bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: #fff;
  color: #01572c;
  width: max-content;
  max-width: calc(100% - 50px);

  margin-bottom: 20px;
}
.chat__bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #bcf497;
  color: #333;
}

.edit {
  background-color: rgba(166, 166, 166, 0.2);
  border: none;
  border-radius: 100px;
  display: inline-block;

  font-size: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  position: relative;
}
.edit:hover:after,
.edit:active:after {
  color: #01572c;
  content: '✎';
  display: block;
  font-size: 15px;
  font-weight: 700;

  width: 20px;
  height: 20px;

  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translateX(-50%) translateY(-50%) rotate(20deg);
  transform: translateX(-50%) translateY(-50%) rotate(20deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;

  z-index: 10;
}

.user__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user__name {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #101c34;
}

.user__time {
  font-size: 0.6rem;
}
.user__message {
  word-break: break-all;
}

/***********************/
/* messageEdit components */
/***********************/

.msg__form__input {
  padding: 5px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.btn__edit {
  border: none;
  outline: none;
  border-radius: 5px;
  background: #1c8324;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 5px;
  margin-left: 4px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s;
}

.btn__edit:hover {
  background-color: #0d3f11;
}

/***********************/
/* 800px */
/***********************/

@media (max-width: 700px) {
  .main__heading {
    font-size: 2rem;
  }

  .main__body {
    font-size: 1.1rem;
  }

  .sign-out {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }

  .chat__room {
    height: 80vh;
  }

  nav {
    padding: 1rem 1.5rem;
    justify-content: space-between;
  }

  .nav__text {
    font-size: 1.1rem;
  }

  .message__input {
    font-size: 16px;
    padding: 8px;
  }
}
